###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just comment the entries below and
# uncomment the group further below
###############################################################################

*.sln          text eol=lf
*.sln          text eol=lf
*.csproj       text eol=lf
*.vbproj       text eol=lf
*.vcxproj      text eol=lf
*.vcproj       text eol=lf
*.dbproj       text eol=lf
*.fsproj       text eol=lf
*.lsproj       text eol=lf
*.wixproj      text eol=lf
*.modelproj    text eol=lf
*.sqlproj      text eol=lf
*.wmaproj      text eol=lf
*.proj         text eol=lf

*.xproj        text eol=lf
*.props        text eol=lf
*.filters      text eol=lf
*.vcxitems     text eol=lf
  
*.cs           text eol=lf
*.json         text eol=lf
*.sh           text eol=lf
*.ps1          text eol=lf
Jenkinsfile    text eol=lf
*.sh           text eol=lf
*.ruleset      text eol=lf
*.config       text eol=lf
*.md           text eol=lf
.gitignore     text eol=lf
.gitattributes text eol=lf