$c-text: #333;
$c-prim: lightblue;
$c-prim-light: #eef;
$c-prim-dark: #4ca9c8;
$c-border: #666;
$c-warning: red;
$c-success: green;

$f-prim: 'Catamaran', Helvetica, sans-serif;
@import url('https://fonts.googleapis.com/css?family=Catamaran');